.container {
  /* min-height: 160vh; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2rem 0;
  /* Used to be 5rem above */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.navlink {
  padding: 20px;
  font-weight: 600;
  font-size: 25px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  z-index: 10;
}

.accentText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 116px;
  letter-spacing: 0.005em;
  -webkit-text-stroke:  3px #FFD000;
  color: #0E141B;
  text-align: center;
}

.specialText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.26em;
  padding-top: 2rem;
  text-align: center;
  color: #40434E;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.bars {
  position: absolute;
  width: 310px;
  height: 0px;
  left: 0px;
  top: 80.01px;
  background-color: #D32300;
  border: 2px solid #D32300;
  box-shadow: 0 0 10px 2px #D32300, 0.5rem 0.5rem 30px #D32300;
  z-index: 0;
}

.barsYellow {
  position: absolute;
  width: 184px;
  height: 0px;
  left: 0px;
  top: 120.01px;
  background-color: #FFD000;
  border: 2px solid #FFD000;
  box-shadow: 0 0 10px 2px #FFD000, 0.5rem 0.5rem 30px #FFD000;
  z-index: 0;
}

.barsright {
  position: absolute;
  width: 184px;
  height: 0px;
  right: 0px;
  top: 420.01px;
  background-color: #D32300;
  border: 2px solid #D32300;
  box-shadow: 0 0 10px 2px #D32300, 0.5rem 0.5rem 30px #D32300;
}

.barsrightYellow {
  position: absolute;
  width: 310px;
  height: 0px;
  right: 0px;
  top: 380.01px;
  background-color: #FFD000;
  border: 2px solid #FFD000;
  box-shadow: 0 0 10px 2px #FFD000, 0.5rem 0.5rem 30px #FFD000;
}

@media (max-width: 800px) {
  .bars {
    width: 210px;
    top: 20.01px;
  }

  .barsYellow {
    width: 84px;
    top:60.01px;

  }

  .barsright {
    width: 84px;
    top: 340.01px;
  }

  .barsrightYellow {
    width: 210px;
  top: 300.01px;
  }
}

@media (max-width: 450px) {
  .barsright {
    width: 84px;
    top: 400.01px;
  }

  .barsrightYellow {
    width: 210px;
  top: 360.01px;
  }
}

.formFooter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.formInput {
  color: #40434E;
  font-weight: 600;
  font-size: 20px;
  height: 45px;
  width: 200px;
  padding: 20px;
  padding-left: 10px;
  background-color: transparent;
  border: 2px solid #40434E;
  border-radius: 10px;
  outline: transparent;
  margin-right: 20px;
}

.submitBtn {
  border: 2px solid #D32300;
  border-radius: 10px;
  color: #F3F4F6;
  font-weight: 600;
  font-size: 20px;
  height: 45px;
  width: 200px;
  background-color: transparent;
}

.submitBtn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-1.5px);
	transform: translateY(-1.5px);
}

.footerLink {
  font-weight: 600;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  display: inline;
}

.footerLink:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer {
    height: 170px;
  }

  .formFooter {
    flex-direction: column;
    align-items: center;
  }
  
  .formInput {
  margin-right: 0px;
  margin-bottom: 10px;
}

.footerLink {
  padding-left: 0px;
  padding-right: 0px;
}

.title {
  font-size: 70px;
}

.accentText {
  font-size: 70px;
}

.main {
  padding: 3rem 0;
}

.specialText {
  padding-top: 3rem;
}
}

@media (max-width: 600px) {
.main {
  padding: 2rem 0;
}
}

.goBtn {
  border: 2px solid #D32300;
  border-radius: 10px;
  color: #F3F4F6;
  font-weight: 600;
  font-size: 20px;
  height: 40px;
  width: 60px;
  background-color: transparent;
}

.goBtn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-1.5px);
	transform: translateY(-1.5px);
}

.teamCards {
  background: linear-gradient(180deg, #40434E 0%, rgba(211, 35, 0, 0.42) 100%), #40434E;
  transition: transform .2s; 
}

.teamCards:hover {
  cursor: pointer;
  transform: scale(1.1); 
}

/*Grid*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
  grid-column:  2;
  grid-row: 1 / 2;
}

.three {
  grid-column:  2;
  grid-row: 1 /2;
  margin-top: 130px;
}

.four {
  grid-column:  1;
  grid-row: 2;
}

.five {
  grid-column:  2;
  grid-row:  2;
}

@media (max-width: 1000px) { 
  .wrapper {
    display: block;
  }
  
  .one {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .two {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .three {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .four {
     margin-top: 10px;
     margin-bottom: 10px;
  }

  .five {
    margin-top: 10px;
    margin-bottom: 10px;
 }
}

.liveBtn {
  border: 2px solid #D32300;
  border-radius: 10px;
  color: #F3F4F6;
  font-weight: 600;
  font-size: 20px;
  height: 45px;
  width: 150px;
  background-color: transparent;
}

.liveBtn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-1.5px);
	transform: translateY(-1.5px);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}